<% if @order.payments.last.source_type == "Spree::GopayTransaction" %>

	<% case @order.payments.last.state
	   
	   when "checkout" %>
		  
		<p><%= t("spree.gopay.status.checkout") %></p>
		   
		<form action="<%= @order.payments.last.source.gw_url %>" method="post" id="gopay-payment-button">
		  <button name="pay" type="submit"><%= t("spree.gopay.pay") %></button>
		  <script type="text/javascript" src="https://gw.sandbox.gopay.com/gp-gw/js/embed.js"></script>
		</form>

	<% when "pending" %>

		<p><%= t("spree.gopay.status.pending") %></p>

	<% when "failed" %>

		<p class="error">
      <%= t("spree.gopay.status.failed") %>
		  <%= link_to t("spree.gopay.renew"), new_gopay_transaction_path(@order) %>
		</p>
    
	<% when "completed" %>

		<p><%= t("spree.gopay.status.completed") %></p>
		
	<% end %>

<% end %>